![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use `JOIN` to merge tables along logical columns
    - Grouping Data with SQL, inlcuding `HAVING`
- Goal 5: Convert SQL to pandas

## Goal 1: Summarize

To date the data we've seen has looked like [this.](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm)

That is how we need data to look to run analysis and build models.<br>
But it doesn't _live_ there in it's native state.

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

## What does it mean to **Engineer Data**?

Let's start with a basic scenario:<br>
You are HR. You have *no* current database. 
How would you set it up?

Data needs considerations:
- What you want to store
- What "views" you anticipate wanting in the future

Structure considerations:
- Speed of retrieval
- How much data you are accessing
- How much you are storing

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
### SQL Readings

[History of SQL](https://www.businessnewsdaily.com/5804-what-is-sql.html)

[The original SQL paper from the 1970s.](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

***
### SQLite

<img src="img/SQLite-Python.jpg" width=500>

- C library (fast)
- lightweight disk-based database
- that doesn’t require a separate server process
- nonstandard variant of the SQL query language
- applications can use SQLite for internal data storage
- use case: prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle

[sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to other database types there are many different libraries:
- Oracle: [cx_Oracle](https://oracle.github.io/python-cx_Oracle/)
- MySQL: [MySQL-python](https://github.com/farcepest/MySQLdb1)
- PostgreSQL: [Psycopg2](http://initd.org/psycopg/docs/)
- Microsoft SQL Server: [pymssql](http://www.pymssql.org/en/stable/)

These all implement [PEP 249: DB API v2](https://www.python.org/dev/peps/pep-0249/)

## Goal 3: Get going with sqlite!

In [1]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [2]:
!ls data

flights.db

In [3]:
!head data/flights.db

SQLite format 3   @     	  �                                                            	 -�        s�o �                �f�%tableroutesroutesqCREATE TABLE routes (
[index] INTEGER,
  [airline] TEXT,
  [airline_id] TEXT,
  [source] TEXT,
  [source_id] TEXT,
  [dest] TEXT,
  [dest_id] TEXT,
  [codeshare] TEXT,
  [stops] TEXT,

In [4]:
con = sqlite3.connect('data/flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

In [6]:
cursor.description

(('name', None, None, None, None, None, None),)

In [7]:
cursor.execute("SELECT name, type FROM sqlite_master;")
print(cursor.fetchall())

[('airports', 'table'), ('ix_airports_index', 'index'), ('airlines', 'table'), ('ix_airlines_index', 'index'), ('routes', 'table'), ('ix_routes_index', 'index')]

In [8]:
cursor.execute("SELECT type, tbl_name, rootpage FROM sqlite_master;")
results = cursor.fetchall()
for res in results:
    print(res)

('table', 'airports', 2)
('index', 'airports', 3)
('table', 'airlines', 945)
('index', 'airlines', 946)
('table', 'routes', 1393)
('index', 'routes', 1394)

In [9]:
cursor.description

(('type', None, None, None, None, None, None),
 ('tbl_name', None, None, None, None, None, None),
 ('rootpage', None, None, None, None, None, None))

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [10]:
cursor.execute("SELECT * FROM airports as a").fetchone()

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [11]:
cursor.fetchone()

(1,
 '2',
 'Madang',
 'Madang',
 'Papua New Guinea',
 'MAG',
 'AYMD',
 '-5.207083',
 '145.7887',
 '20',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [12]:
cursor.fetchmany(4)

[(2,
  '3',
  'Mount Hagen',
  'Mount Hagen',
  'Papua New Guinea',
  'HGU',
  'AYMH',
  '-5.826789',
  '144.295861',
  '5388',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (3,
  '4',
  'Nadzab',
  'Nadzab',
  'Papua New Guinea',
  'LAE',
  'AYNZ',
  '-6.569828',
  '146.726242',
  '239',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (4,
  '5',
  'Port Moresby Jacksons Intl',
  'Port Moresby',
  'Papua New Guinea',
  'POM',
  'AYPY',
  '-9.443383',
  '147.22005',
  '146',
  '10',
  'U',
  'Pacific/Port_Moresby'),
 (5,
  '6',
  'Wewak Intl',
  'Wewak',
  'Papua New Guinea',
  'WWK',
  'AYWK',
  '-3.583828',
  '143.669186',
  '19',
  '10',
  'U',
  'Pacific/Port_Moresby')]

#### Use description

In [13]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [14]:
z = (1,2)
print(*z, sep ='\n')

1
2

In [15]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [16]:
cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'alias', 'TEXT', 0, None, 0)
(4, 'iata', 'TEXT', 0, None, 0)
(5, 'icao', 'TEXT', 0, None, 0)
(6, 'callsign', 'TEXT', 0, None, 0)
(7, 'country', 'TEXT', 0, None, 0)
(8, 'active', 'TEXT', 0, None, 0)

In [17]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'airline', 'TEXT', 0, None, 0)
(2, 'airline_id', 'TEXT', 0, None, 0)
(3, 'source', 'TEXT', 0, None, 0)
(4, 'source_id', 'TEXT', 0, None, 0)
(5, 'dest', 'TEXT', 0, None, 0)
(6, 'dest_id', 'TEXT', 0, None, 0)
(7, 'codeshare', 'TEXT', 0, None, 0)
(8, 'stops', 'TEXT', 0, None, 0)
(9, 'equipment', 'TEXT', 0, None, 0)

***
## Goal 4: Use basic SQL commands

### The Structure of a SQL Query

<img src='img/sql_statement.jpg'/>

### Constructing SQL queries

**`SELECT`**:  The columns you want
  - options: `DISTINCT`, using `AS` to rename columns, single number aggregates

**`FROM`:** the source tables
  - options: also uses aliasing with `AS`; joining with `[LEFT|INNER|RIGHT|FULL] JOIN ___ [ON|USING]`

**`WHERE`**: your filters
  - options: comparators like `=` & `>=`; `BETWEEN`, `IN`, `LIKE` (with wildcards `%`); booleans like `AND`, `OR`, `NOT`

**`ORDER BY`**: sorting
  - options: `ASC` (default) and `DESC`

**`LIMIT`**:  # of rows to return (pair with `OFFSET`)

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [19]:
cursor.execute("""SELECT name FROM airlines
WHERE active='Y' AND country = 'United Kingdom'
ORDER BY lower(name)
""")
cursor.fetchall()

[('AD Aviation',),
 ('Air Cudlua',),
 ('Air Foyle',),
 ('Air Southwest',),
 ('Air Wales',),
 ('All Europe',),
 ('Astraeus',),
 ('Aurigny Air Services',),
 ('BA CityFlyer',),
 ('BBN-Airways',),
 ('bmi',),
 ('bmibaby',),
 ('British Airways',),
 ('British International Helicopters',),
 ('British Mediterranean Airways',),
 ('British Midland Regional',),
 ('CB Airways UK ( Interliging Flights )',),
 ('Crest Aviation',),
 ('Eastern Airways',),
 ('easyJet',),
 ('Excel Airways',),
 ('Excel Charter',),
 ('First Choice Airways',),
 ('Flightline',),
 ('Flybe',),
 ('Flyglobespan',),
 ('GB Airways',),
 ('Highland Airways',),
 ('Jc royal.britannica',),
 ('Jet2.com',),
 ('Kinloss Flying Training Unit',),
 ('Monarch Airlines',),
 ('MyTravel Airways',),
 ('Norfolk County Flight College',),
 ('Rainbow Air Euro',),
 ('Royal European Airlines',),
 ('ScotAirways',),
 ('Thomas Cook Airlines',),
 ('Thomsonfly',),
 ('Virgin Atlantic Airways',)]

In [20]:
cursor.execute('''SELECT country FROM airports
GROUP BY country
''')
cursor.fetchall()

[('Afghanistan',),
 ('Albania',),
 ('Algeria',),
 ('American Samoa',),
 ('Angola',),
 ('Anguilla',),
 ('Antarctica',),
 ('Antigua and Barbuda',),
 ('Argentina',),
 ('Armenia',),
 ('Aruba',),
 ('Australia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Bahamas',),
 ('Bahrain',),
 ('Bangladesh',),
 ('Barbados',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Benin',),
 ('Bermuda',),
 ('Bhutan',),
 ('Bolivia',),
 ('Bosnia and Herzegovina',),
 ('Botswana',),
 ('Brazil',),
 ('British Indian Ocean Territory',),
 ('British Virgin Islands',),
 ('Brunei',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burma',),
 ('Burundi',),
 ('Cambodia',),
 ('Cameroon',),
 ('Canada',),
 ('Cape Verde',),
 ('Cayman Islands',),
 ('Central African Republic',),
 ('Chad',),
 ('Chile',),
 ('China',),
 ('Christmas Island',),
 ('Cocos (Keeling) Islands',),
 ('Colombia',),
 ('Comoros',),
 ('Congo (Brazzaville)',),
 ('Congo (Kinshasa)',),
 ('Cook Islands',),
 ('Costa Rica',),
 ("Cote d'Ivoire",),
 ('Croatia',),
 ('Cuba',),
 ('Cyprus',),
 ('Czech Republic',),
 ('Denmark',),
 ('Djibouti',),
 ('Dominica',),
 ('Dominican Republic',),
 ('East Timor',),
 ('Ecuador',),
 ('Egypt',),
 ('El Salvador',),
 ('Equatorial Guinea',),
 ('Eritrea',),
 ('Estonia',),
 ('Ethiopia',),
 ('Falkland Islands',),
 ('Faroe Islands',),
 ('Fiji',),
 ('Finland',),
 ('France',),
 ('French Guiana',),
 ('French Polynesia',),
 ('Gabon',),
 ('Gambia',),
 ('Georgia',),
 ('Germany',),
 ('Ghana',),
 ('Gibraltar',),
 ('Greece',),
 ('Greenland',),
 ('Grenada',),
 ('Guadeloupe',),
 ('Guam',),
 ('Guatemala',),
 ('Guernsey',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Guyana',),
 ('Haiti',),
 ('Honduras',),
 ('Hong Kong',),
 ('Hungary',),
 ('Iceland',),
 ('India',),
 ('Indonesia',),
 ('Iran',),
 ('Iraq',),
 ('Ireland',),
 ('Isle of Man',),
 ('Israel',),
 ('Italy',),
 ('Jamaica',),
 ('Japan',),
 ('Jersey',),
 ('Johnston Atoll',),
 ('Jordan',),
 ('Kazakhstan',),
 ('Kenya',),
 ('Kiribati',),
 ('Korea',),
 ('Kuwait',),
 ('Kyrgyzstan',),
 ('Laos',),
 ('Latvia',),
 ('Lebanon',),
 ('Lesotho',),
 ('Liberia',),
 ('Libya',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macau',),
 ('Macedonia',),
 ('Madagascar',),
 ('Malawi',),
 ('Malaysia',),
 ('Maldives',),
 ('Mali',),
 ('Malta',),
 ('Marshall Islands',),
 ('Martinique',),
 ('Mauritania',),
 ('Mauritius',),
 ('Mayotte',),
 ('Mexico',),
 ('Micronesia',),
 ('Midway Islands',),
 ('Moldova',),
 ('Monaco',),
 ('Mongolia',),
 ('Montenegro',),
 ('Montserrat',),
 ('Morocco',),
 ('Mozambique',),
 ('Myanmar',),
 ('Namibia',),
 ('Nauru',),
 ('Nepal',),
 ('Netherlands',),
 ('Netherlands Antilles',),
 ('New Caledonia',),
 ('New Zealand',),
 ('Nicaragua',),
 ('Niger',),
 ('Nigeria',),
 ('Niue',),
 ('Norfolk Island',),
 ('North Korea',),
 ('Northern Mariana Islands',),
 ('Norway',),
 ('Oman',),
 ('Pakistan',),
 ('Palau',),
 ('Palestine',),
 ('Panama',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Peru',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Puerto Rico',),
 ('Qatar',),
 ('Reunion',),
 ('Romania',),
 ('Russia',),
 ('Rwanda',),
 ('Saint Helena',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Pierre and Miquelon',),
 ('Saint Vincent and the Grenadines',),
 ('Samoa',),
 ('Sao Tome and Principe',),
 ('Saudi Arabia',),
 ('Senegal',),
 ('Serbia',),
 ('Seychelles',),
 ('Sierra Leone',),
 ('Singapore',),
 ('Slovakia',),
 ('Slovenia',),
 ('Solomon Islands',),
 ('Somalia',),
 ('South Africa',),
 ('South Georgia and the Islands',),
 ('South Korea',),
 ('South Sudan',),
 ('Spain',),
 ('Sri Lanka',),
 ('Sudan',),
 ('Suriname',),
 ('Svalbard',),
 ('Swaziland',),
 ('Sweden',),
 ('Switzerland',),
 ('Syria',),
 ('Taiwan',),
 ('Tajikistan',),
 ('Tanzania',),
 ('Thailand',),
 ('Togo',),
 ('Tonga',),
 ('Trinidad and Tobago',),
 ('Tunisia',),
 ('Turkey',),
 ('Turkmenistan',),
 ('Turks and Caicos Islands',),
 ('Tuvalu',),
 ('Uganda',),
 ('Ukraine',),
 ('United Arab Emirates',),
 ('United Kingdom',),
 ('United States',),
 ('Uruguay',),
 ('Uzbekistan',),
 ('Vanuatu',),
 ('Venezuela',),
 ('Vietnam',),
 ('Virgin Islands',),
 ('Wake Island',),
 ('Wallis and Futuna',),
 ('West Bank',),
 ('Western Sahara',),
 ('Yemen',),
 ('Zambia',),
 ('Zimbabwe',)]

In [34]:
cursor.execute('''
SELECT DISTINCT country
FROM airports
ORDER BY 1
''')
print(*cursor.fetchall(), sep = '\n')

('Afghanistan',)
('Albania',)
('Algeria',)
('American Samoa',)
('Angola',)
('Anguilla',)
('Antarctica',)
('Antigua and Barbuda',)
('Argentina',)
('Armenia',)
('Aruba',)
('Australia',)
('Austria',)
('Azerbaijan',)
('Bahamas',)
('Bahrain',)
('Bangladesh',)
('Barbados',)
('Belarus',)
('Belgium',)
('Belize',)
('Benin',)
('Bermuda',)
('Bhutan',)
('Bolivia',)
('Bosnia and Herzegovina',)
('Botswana',)
('Brazil',)
('British Indian Ocean Territory',)
('British Virgin Islands',)
('Brunei',)
('Bulgaria',)
('Burkina Faso',)
('Burma',)
('Burundi',)
('Cambodia',)
('Cameroon',)
('Canada',)
('Cape Verde',)
('Cayman Islands',)
('Central African Republic',)
('Chad',)
('Chile',)
('China',)
('Christmas Island',)
('Cocos (Keeling) Islands',)
('Colombia',)
('Comoros',)
('Congo (Brazzaville)',)
('Congo (Kinshasa)',)
('Cook Islands',)
('Costa Rica',)
("Cote d'Ivoire",)
('Croatia',)
('Cuba',)
('Cyprus',)
('Czech Republic',)
('Denmark',)
('Djibouti',)
('Dominica',)
('Dominican Republic',)
('East Timor',)
('Ecuador',)
('Egypt',)
('El Salvador',)
('Equatorial Guinea',)
('Eritrea',)
('Estonia',)
('Ethiopia',)
('Falkland Islands',)
('Faroe Islands',)
('Fiji',)
('Finland',)
('France',)
('French Guiana',)
('French Polynesia',)
('Gabon',)
('Gambia',)
('Georgia',)
('Germany',)
('Ghana',)
('Gibraltar',)
('Greece',)
('Greenland',)
('Grenada',)
('Guadeloupe',)
('Guam',)
('Guatemala',)
('Guernsey',)
('Guinea',)
('Guinea-Bissau',)
('Guyana',)
('Haiti',)
('Honduras',)
('Hong Kong',)
('Hungary',)
('Iceland',)
('India',)
('Indonesia',)
('Iran',)
('Iraq',)
('Ireland',)
('Isle of Man',)
('Israel',)
('Italy',)
('Jamaica',)
('Japan',)
('Jersey',)
('Johnston Atoll',)
('Jordan',)
('Kazakhstan',)
('Kenya',)
('Kiribati',)
('Korea',)
('Kuwait',)
('Kyrgyzstan',)
('Laos',)
('Latvia',)
('Lebanon',)
('Lesotho',)
('Liberia',)
('Libya',)
('Lithuania',)
('Luxembourg',)
('Macau',)
('Macedonia',)
('Madagascar',)
('Malawi',)
('Malaysia',)
('Maldives',)
('Mali',)
('Malta',)
('Marshall Islands',)
('Martinique',)
('Mauritania',)
('Mauritius',)
('Mayotte',)
('Mexico',)
('Micronesia',)
('Midway Islands',)
('Moldova',)
('Monaco',)
('Mongolia',)
('Montenegro',)
('Montserrat',)
('Morocco',)
('Mozambique',)
('Myanmar',)
('Namibia',)
('Nauru',)
('Nepal',)
('Netherlands',)
('Netherlands Antilles',)
('New Caledonia',)
('New Zealand',)
('Nicaragua',)
('Niger',)
('Nigeria',)
('Niue',)
('Norfolk Island',)
('North Korea',)
('Northern Mariana Islands',)
('Norway',)
('Oman',)
('Pakistan',)
('Palau',)
('Palestine',)
('Panama',)
('Papua New Guinea',)
('Paraguay',)
('Peru',)
('Philippines',)
('Poland',)
('Portugal',)
('Puerto Rico',)
('Qatar',)
('Reunion',)
('Romania',)
('Russia',)
('Rwanda',)
('Saint Helena',)
('Saint Kitts and Nevis',)
('Saint Lucia',)
('Saint Pierre and Miquelon',)
('Saint Vincent and the Grenadines',)
('Samoa',)
('Sao Tome and Principe',)
('Saudi Arabia',)
('Senegal',)
('Serbia',)
('Seychelles',)
('Sierra Leone',)
('Singapore',)
('Slovakia',)
('Slovenia',)
('Solomon Islands',)
('Somalia',)
('South Africa',)
('South Georgia and the Islands',)
('South Korea',)
('South Sudan',)
('Spain',)
('Sri Lanka',)
('Sudan',)
('Suriname',)
('Svalbard',)
('Swaziland',)
('Sweden',)
('Switzerland',)
('Syria',)
('Taiwan',)
('Tajikistan',)
('Tanzania',)
('Thailand',)
('Togo',)
('Tonga',)
('Trinidad and Tobago',)
('Tunisia',)
('Turkey',)
('Turkmenistan',)
('Turks and Caicos Islands',)
('Tuvalu',)
('Uganda',)
('Ukraine',)
('United Arab Emirates',)
('United Kingdom',)
('United States',)
('Uruguay',)
('Uzbekistan',)
('Vanuatu',)
('Venezuela',)
('Vietnam',)
('Virgin Islands',)
('Wake Island',)
('Wallis and Futuna',)
('West Bank',)
('Western Sahara',)
('Yemen',)
('Zambia',)
('Zimbabwe',)

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

<img src="img/venn.png" width=550>

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [24]:
import pandas as pd

In [27]:
cursor.execute('''SELECT 
                r.*,
                latitude AS source_lat,
                longitude AS source_lon
        FROM routes AS r
        JOIN airports AS a
        ON r.source_id = a.id
''')
df = pd.DataFrame(cursor.fetchall())
df.columns = [x[0] for x in cursor.description]
df.head()

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,source_lat,source_lon
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2,43.449928,39.956589
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2,46.283333,48.006278
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2,46.283333,48.006278
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2,55.305836,61.503333
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2,55.305836,61.503333

In [ ]:
cursor.execute("""
SELECT r.*, 
		latitude AS source_lat, 
		longitude AS source_lon
FROM routes AS r
JOIN airports AS a on source_id = a.id
""")
print(*cursor.description, sep='\n')

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airlines?
- Which countries have the highest amount of inactive airlines?
- What about airports by timezones?

In [34]:
# Which countries have the highest amount of active airports?
cursor.execute("""SELECT country, COUNT(*)
FROM airports
GROUP BY country
ORDER BY 2 DESC
""")
print(*cursor.fetchall(), sep='\n')

('United States', 1697)
('Canada', 435)
('Germany', 321)
('Australia', 263)
('Russia', 249)
('France', 233)
('China', 219)
('Brazil', 213)
('United Kingdom', 210)
('India', 140)
('Japan', 131)
('Indonesia', 114)
('Argentina', 103)
('South Africa', 103)
('Mexico', 94)
('Italy', 92)
('Sweden', 86)
('Spain', 84)
('Iran', 81)
('Turkey', 77)
('Colombia', 72)
('Norway', 69)
('Philippines', 64)
('Greece', 60)
('Thailand', 58)
('Venezuela', 58)
('Papua New Guinea', 57)
('New Zealand', 56)
('Kenya', 55)
('Switzerland', 53)
('Finland', 51)
('Malaysia', 47)
('Pakistan', 46)
('Madagascar', 45)
('Algeria', 44)
('Burma', 43)
('Peru', 43)
('Maldives', 42)
('Netherlands', 42)
('Saudi Arabia', 42)
('Portugal', 39)
('Chile', 38)
('Ecuador', 38)
('Bahamas', 37)
('Congo (Kinshasa)', 36)
('French Polynesia', 36)
('Nepal', 36)
('Belgium', 34)
('Poland', 34)
('Ukraine', 33)
('Ethiopia', 32)
('Marshall Islands', 32)
('Taiwan', 32)
('South Korea', 31)
('Cuba', 30)
('Vietnam', 30)
('Austria', 29)
('Botswana', 29)
('Costa Rica', 29)
('Greenland', 29)
('Vanuatu', 29)
('Denmark', 28)
('Kazakhstan', 28)
('Bolivia', 27)
('Czech Republic', 27)
('Solomon Islands', 27)
('Tanzania', 27)
('Angola', 26)
('Nigeria', 26)
('Panama', 26)
('Romania', 26)
('Egypt', 25)
('Ireland', 25)
('Suriname', 23)
('French Guiana', 22)
('Iceland', 22)
('Morocco', 22)
('Mozambique', 22)
('Afghanistan', 21)
('Libya', 21)
('Antarctica', 19)
('Namibia', 19)
('United Arab Emirates', 19)
('Kiribati', 18)
('Sudan', 18)
('Fiji', 17)
('Israel', 16)
('Zimbabwe', 16)
('Hungary', 15)
('Puerto Rico', 15)
('Sri Lanka', 15)
('Croatia', 14)
('Dominican Republic', 14)
('Gabon', 14)
('Guyana', 14)
('Haiti', 14)
('Bangladesh', 13)
('Cambodia', 13)
('Hong Kong', 13)
('Mongolia', 13)
('Tunisia', 13)
('Uruguay', 13)
('Zambia', 13)
('Belize', 12)
('Uzbekistan', 12)
('Azerbaijan', 11)
('Honduras', 11)
('Laos', 11)
('New Caledonia', 11)
('Nicaragua', 11)
('Seychelles', 11)
('Somalia', 11)
('Yemen', 11)
('Cameroon', 10)
('Guatemala', 10)
('Iraq', 10)
('Mauritania', 10)
('Reunion', 10)
('Slovakia', 10)
('Belarus', 9)
('Estonia', 9)
('Senegal', 9)
('Uganda', 9)
('Cook Islands', 8)
('Lithuania', 8)
('Malawi', 8)
('Mali', 8)
('Malta', 8)
('Netherlands Antilles', 8)
('Paraguay', 8)
('Sierra Leone', 8)
('Turkmenistan', 8)
('Virgin Islands', 8)
('Bulgaria', 7)
('Cape Verde', 7)
('Chad', 7)
("Cote d'Ivoire", 7)
('Guadeloupe', 7)
('Jamaica', 7)
('Niger', 7)
('Ghana', 6)
('Guinea', 6)
('Jordan', 6)
('Oman', 6)
('Singapore', 6)
('Syria', 6)
('Tonga', 6)
('Turks and Caicos Islands', 6)
('Cyprus', 5)
('Falkland Islands', 5)
('Georgia', 5)
('Micronesia', 5)
('North Korea', 5)
('Saint Vincent and the Grenadines', 5)
('Slovenia', 5)
('Tajikistan', 5)
('Armenia', 4)
('Bosnia and Herzegovina', 4)
('Comoros', 4)
('Kyrgyzstan', 4)
('Macau', 4)
('Martinique', 4)
('Samoa', 4)
('Serbia', 4)
('Svalbard', 4)
('American Samoa', 3)
('Brunei', 3)
('Cayman Islands', 3)
('Central African Republic', 3)
('Congo (Brazzaville)', 3)
('Djibouti', 3)
('Dominica', 3)
('East Timor', 3)
('Eritrea', 3)
('Faroe Islands', 3)
('Grenada', 3)
('Latvia', 3)
('Lesotho', 3)
('Liberia', 3)
('Moldova', 3)
('Northern Mariana Islands', 3)
('Palau', 3)
('Qatar', 3)
('Rwanda', 3)
('Saint Kitts and Nevis', 3)
('Saint Lucia', 3)
('Western Sahara', 3)
('Antigua and Barbuda', 2)
('Bahrain', 2)
('Bermuda', 2)
('British Virgin Islands', 2)
('Burkina Faso', 2)
('El Salvador', 2)
('Equatorial Guinea', 2)
('Guam', 2)
('Guernsey', 2)
('Guinea-Bissau', 2)
('Kuwait', 2)
('Lebanon', 2)
('Macedonia', 2)
('Mauritius', 2)
('Montenegro', 2)
('Montserrat', 2)
('Saint Pierre and Miquelon', 2)
('Sao Tome and Principe', 2)
('South Georgia and the Islands', 2)
('South Sudan', 2)
('Togo', 2)
('Trinidad and Tobago', 2)
('Wallis and Futuna', 2)
('Albania', 1)
('Anguilla', 1)
('Aruba', 1)
('Barbados', 1)
('Benin', 1)
('Bhutan', 1)
('British Indian Ocean Territory', 1)
('Burundi', 1)
('Christmas Island', 1)
('Cocos (Keeling) Islands', 1)
('Gambia', 1)
('Gibraltar', 1)
('Isle of Man', 1)
('Jersey', 1)
('Johnston Atoll', 1)
('Korea', 1)
('Luxembourg', 1)
('Mayotte', 1)
('Midway Islands', 1)
('Monaco', 1)
('Myanmar', 1)
('Nauru', 1)
('Niue', 1)
('Norfolk Island', 1)
('Palestine', 1)
('Saint Helena', 1)
('Swaziland', 1)
('Tuvalu', 1)
('Wake Island', 1)
('West Bank', 1)

In [38]:
# Which countries have the highest amount of inactive airports?
cursor.execute("""SELECT country, COUNT(*), active
FROM airlines
WHERE active = 'N'
GROUP BY country
ORDER BY 2 DESC
""")
print(*cursor.fetchall(), sep='\n')

('United States', 939, 'N')
('Mexico', 427, 'N')
('United Kingdom', 367, 'N')
('Canada', 284, 'N')
('Russia', 158, 'N')
('Spain', 142, 'N')
('France', 97, 'N')
('Germany', 94, 'N')
('South Africa', 81, 'N')
('Nigeria', 80, 'N')
('Ukraine', 76, 'N')
('Kazakhstan', 73, 'N')
('Italy', 72, 'N')
('Australia', 67, 'N')
('Sweden', 55, 'N')
('Sudan', 47, 'N')
('Switzerland', 46, 'N')
('China', 45, 'N')
('Netherlands', 43, 'N')
('Austria', 38, 'N')
('Egypt', 36, 'N')
('Angola', 35, 'N')
('Brazil', 35, 'N')
('Chile', 35, 'N')
('Colombia', 34, 'N')
('Mauritania', 32, 'N')
('Portugal', 32, 'N')
('Thailand', 32, 'N')
('Indonesia', 31, 'N')
('Kyrgyzstan', 29, 'N')
('Czech Republic', 27, 'N')
('Bulgaria', 25, 'N')
('Denmark', 25, 'N')
('Dominican Republic', 25, 'N')
('Japan', 25, 'N')
('Iran', 24, 'N')
('New Zealand', 24, 'N')
('Libya', 23, 'N')
('Norway', 23, 'N')
('Sierra Leone', 23, 'N')
('Turkey', 23, 'N')
('United Arab Emirates', 23, 'N')
('Pakistan', 22, 'N')
('Venezuela', 22, 'N')
('Belgium', 21, 'N')
('Ireland', 21, 'N')
('Uganda', 21, 'N')
('Kenya', 20, 'N')
('Zambia', 20, 'N')
('Democratic Republic of the Congo', 19, 'N')
('Ecuador', 19, 'N')
('Greece', 19, 'N')
('Ghana', 17, 'N')
('Moldova', 17, 'N')
('Israel', 16, 'N')
('Armenia', 15, 'N')
('Hungary', 15, 'N')
('Ivory Coast', 15, 'N')
('Peru', 15, 'N')
('Argentina', 14, 'N')
('Haiti', 14, 'N')
('Slovakia', 14, 'N')
(None, 13, 'N')
('Lebanon', 13, 'N')
('Lithuania', 13, 'N')
('Philippines', 13, 'N')
('Cambodia', 12, 'N')
('Georgia', 12, 'N')
('Poland', 12, 'N')
('Senegal', 12, 'N')
('Guinea', 11, 'N')
('Iceland', 11, 'N')
('Luxembourg', 11, 'N')
('Bangladesh', 10, 'N')
('Equatorial Guinea', 10, 'N')
('Gabon', 10, 'N')
('Namibia', 10, 'N')
('Serbia', 10, 'N')
('Democratic Republic of Congo', 9, 'N')
('India', 9, 'N')
('Latvia', 9, 'N')
('Mali', 9, 'N')
('Romania', 9, 'N')
('Uruguay', 9, 'N')
('Uzbekistan', 9, 'N')
('Bahrain', 8, 'N')
('Barbados', 8, 'N')
('Chad', 8, 'N')
('Croatia', 8, 'N')
('Guinea-Bissau', 8, 'N')
('Belarus', 7, 'N')
('Finland', 7, 'N')
('Malaysia', 7, 'N')
('Bahamas', 6, 'N')
('Bolivia', 6, 'N')
('Burkina Faso', 6, 'N')
('Costa Rica', 6, 'N')
('Djibouti', 6, 'N')
('Gambia', 6, 'N')
('Sao Tome and Principe', 6, 'N')
('Swaziland', 6, 'N')
('Tanzania', 6, 'N')
('Benin', 5, 'N')
('Central African Republic', 5, 'N')
('Cyprus', 5, 'N')
('El Salvador', 5, 'N')
('Estonia', 5, 'N')
('Guatemala', 5, 'N')
('Honduras', 5, 'N')
('Jordan', 5, 'N')
('Mongolia', 5, 'N')
('Mozambique', 5, 'N')
('Nepal', 5, 'N')
('Netherland', 5, 'N')
('Panama', 5, 'N')
('Rwanda', 5, 'N')
('S', 5, 'N')
('Slovenia', 5, 'N')
('Somali Republic', 5, 'N')
('Suriname', 5, 'N')
('Tajikistan', 5, 'N')
('Afghanistan', 4, 'N')
('Algeria', 4, 'N')
('Aruba', 4, 'N')
('Cameroon', 4, 'N')
('Ethiopia', 4, 'N')
('Guyana', 4, 'N')
('Macedonia', 4, 'N')
('Malta', 4, 'N')
('Netherlands Antilles', 4, 'N')
('Nicaragua', 4, 'N')
('Oman', 4, 'N')
('Republic of the Congo', 4, 'N')
('Sri Lanka', 4, 'N')
('Syrian Arab Republic', 4, 'N')
('Tunisia', 4, 'N')
('Turks and Caicos Islands', 4, 'N')
('Zimbabwe', 4, 'N')
('Antigua and Barbuda', 3, 'N')
('Azerbaijan', 3, 'N')
('Cuba', 3, 'N')
('Fiji', 3, 'N')
('Liberia', 3, 'N')
('Malawi', 3, 'N')
('Maldives', 3, 'N')
('Morocco', 3, 'N')
('Niger', 3, 'N')
('Papua New Guinea', 3, 'N')
('Republic of Korea', 3, 'N')
('Saudi Arabia', 3, 'N')
('Singapore', 3, 'N')
('Togo', 3, 'N')
('Albania', 2, 'N')
('Bosnia and Herzegovina', 2, 'N')
('Burundi', 2, 'N')
('Cape Verde', 2, 'N')
('Comoros', 2, 'N')
('Hong Kong SAR of China', 2, 'N')
('Lao Peoples Democratic Republic', 2, 'N')
('Madagascar', 2, 'N')
('Palau', 2, 'N')
('Qatar', 2, 'N')
('Saint Lucia', 2, 'N')
('Solomon Islands', 2, 'N')
('Tonga', 2, 'N')
('Turkmenistan', 2, 'N')
(' Boonville Stage Line', 1, 'N')
('ACOM', 1, 'N')
('ACTIVE AERO', 1, 'N')
('AEROCENTER', 1, 'N')
('AEROCESAR', 1, 'N')
('AEROPERLAS', 1, 'N')
('AEROPUMA', 1, 'N')
('AEROSOL', 1, 'N')
('AEROSUN', 1, 'N')
('AEROVARADERO', 1, 'N')
('AEROWEE', 1, 'N')
('AIR CLASS', 1, 'N')
('AIR FREIGHTER', 1, 'N')
('AIR PRINT', 1, 'N')
('AIR-MAUR', 1, 'N')
('AIREX', 1, 'N')
('AIRFLIGHT', 1, 'N')
('AIRMAN', 1, 'N')
('AIRNAT', 1, 'N')
('AIRPAC', 1, 'N')
('AIRPORT HELICOPTER', 1, 'N')
('AIRWAVE', 1, 'N')
('ALAMO', 1, 'N')
('ALASKA PACIFIC', 1, 'N')
('ALCON', 1, 'N')
('ALDAWLYH AIR', 1, 'N')
('ALL STAR', 1, 'N')
('ALNACIONAL', 1, 'N')
('ANTARES', 1, 'N')
('APPALACHIAN', 1, 'N')
('AQUILINE', 1, 'N')
('ARIZAIR', 1, 'N')
('ARMSTRONG', 1, 'N')
('ASA PESADA', 1, 'N')
('ASTORIA', 1, 'N')
('ASUR', 1, 'N')
('ATCO', 1, 'N')
('ATLANTIC NICARAGUA', 1, 'N')
('ATLANTIS CANADA', 1, 'N')
('AUDI AIR', 1, 'N')
('AURORA AIR', 1, 'N')
('AUSA', 1, 'N')
('AVEMEX', 1, 'N')
('AVINOR', 1, 'N')
('AVIOQUINTANA', 1, 'N')
('AZIMUT', 1, 'N')
('Air S', 1, 'N')
('Belize', 1, 'N')
('Bermuda', 1, 'N')
('COMPANY AS', 1, 'N')
('Cayman Islands', 1, 'N')
('Congo (Brazzaville)', 1, 'N')
('Cook Islands', 1, 'N')
("Cote d'Ivoire", 1, 'N')
('Faroe Islands', 1, 'N')
('Hong Kong', 1, 'N')
('Jamaica', 1, 'N')
('Kiribati', 1, 'N')
('Kuwait', 1, 'N')
('LAP', 1, 'N')
('Macao', 1, 'N')
('Mauritius', 1, 'N')
('Monaco', 1, 'N')
('Montenegro', 1, 'N')
('Montserrat', 1, 'N')
('Nauru', 1, 'N')
('ODINN', 1, 'N')
('Paraguay', 1, 'N')
('RENTAXEL', 1, 'N')
('Russia]]', 1, 'N')
('Russian Federation', 1, 'N')
('SCHEFF', 1, 'N')
('SWISSBIRD', 1, 'N')
('Saint Kitts and Nevis', 1, 'N')
('Saint Vincent and the Grenadines', 1, 'N')
('Taiwan', 1, 'N')
('Trinidad and Tobago', 1, 'N')
('UNIFORM OSCAR', 1, 'N')
('UNited Kingdom', 1, 'N')
('VELES', 1, 'N')
('Vietnam', 1, 'N')
('WATCHDOG', 1, 'N')
('Yemen', 1, 'N')
('\\N', 1, 'N')

In [39]:
# What about airports by timezones?
cursor.execute("""SELECT id, name, timezone
FROM airports
GROUP BY timezone
""")
print(*cursor.fetchall(), sep='\n')

('253', 'Abidjan Felix Houphouet Boigny Intl', 'Africa/Abidjan')
('248', 'Kotoka Intl', 'Africa/Accra')
('1107', 'Bole Intl', 'Africa/Addis_Ababa')
('207', 'Blida', 'Africa/Algiers')
('3966', 'Assab Intl', 'Africa/Asmera')
('1044', 'Senou', 'Africa/Bamako')
('888', 'Bangui M Poko', 'Africa/Bangui')
('1050', 'Banjul Intl', 'Africa/Banjul')
('1060', 'Cufar', 'Africa/Bissau')
('1013', 'Chileka Intl', 'Africa/Blantyre')
('883', 'Maya Maya', 'Africa/Brazzaville')
('1120', 'Bujumbura Intl', 'Africa/Bujumbura')
('1126', 'Alexandria Intl', 'Africa/Cairo')
('1064', 'Inezgane', 'Africa/Casablanca')
('1099', 'Fria', 'Africa/Conakry')
('1081', 'Ziguinchor', 'Africa/Dakar')
('1176', 'Arusha', 'Africa/Dar_es_Salaam')
('4119', 'Ambouli International Airport', 'Africa/Djibouti')
('896', 'Tiko', 'Africa/Douala')
('5672', 'Hassan I Airport', 'Africa/El_Aaiun')
('1059', 'Freetown Lungi', 'Africa/Freetown')
('877', 'Francistown', 'Africa/Gaborone')
('1001', 'J M Nkomo Intl', 'Africa/Harare')
('790', 'Alexander Bay', 'Africa/Johannesburg')
('1173', 'Juba', 'Africa/Juba')
('1187', 'Entebbe Intl', 'Africa/Kampala')
('1167', 'Dongola', 'Africa/Khartoum')
('1036', 'Goma', 'Africa/Kigali')
('1020', 'Ndjili Intl', 'Africa/Kinshasa')
('260', 'Nnamdi Azikiwe Intl', 'Africa/Lagos')
('963', 'Oyem', 'Africa/Libreville')
('297', 'Niamtougou International', 'Africa/Lome')
('944', 'Mbanza Congo', 'Africa/Luanda')
('1031', 'Kisangani Simisini', 'Africa/Lubumbashi')
('905', 'Kasompe', 'Africa/Lusaka')
('890', 'Bata', 'Africa/Malabo')
('974', 'Beira', 'Africa/Maputo')
('1018', 'Moshoeshoe I Intl', 'Africa/Maseru')
('887', 'Matsapha', 'Africa/Mbabane')
('1121', 'Egal Intl', 'Africa/Mogadishu')
('1062', 'Monrovia Spriggs Payne', 'Africa/Monrovia')
('1138', 'Eldoret Intl', 'Africa/Nairobi')
('997', 'Abeche', 'Africa/Ndjamena')
('279', 'Maradi', 'Africa/Niamey')
('1089', 'Aioun El Atrouss', 'Africa/Nouakchott')
('246', 'Ouagadougou', 'Africa/Ouagadougou')
('245', 'Cadjehoun', 'Africa/Porto-Novo')
('972', 'Principe', 'Africa/Sao_Tome')
('1150', 'Bu Attifel', 'Africa/Tripoli')
('286', 'Habib Bourguiba Intl', 'Africa/Tunis')
('4105', 'Windhoek Hosea Kutako International Airport ', 'Africa/Windhoek')
('6882', 'Tyonek Airport', 'America/Anchorage')
('2900', 'Wallblake', 'America/Anguilla')
('2874', 'V C Bird Intl', 'America/Antigua')
('2895', 'Reina Beatrix Intl', 'America/Aruba')
('2699', 'Silvio Pettirossi Intl', 'America/Asuncion')
('2875', 'Grantley Adams Intl', 'America/Barbados')
('1957', 'Philip S W Goldson Intl', 'America/Belize')
('5503', 'Chevery Airport', 'America/Blanc-Sablon')
('2518', 'Conceicao Do Araguaia', 'America/Boa_Vista')
('2705', 'El Eden', 'America/Bogota')
('2524', 'Alta Floresta', 'America/Campo_Grande')
('2818', 'Oswaldo Guevara Mujica', 'America/Caracas')
('2774', 'Rochambeau', 'America/Cayenne')
('1925', 'Gerrard Smith Intl', 'America/Cayman')
('6885', 'Door County Cherryland Airport', 'America/Chicago')
('41', 'Fairmont Hot Springs', 'America/Coral_Harbour')
('6869', 'Aeropuerto de Rafaela', 'America/Cordoba')
('1872', 'Buenos Aires', 'America/Costa_Rica')
('2896', 'Flamingo', 'America/Curacao')
('6453', 'Summit Camp', 'America/Danmarkshavn')
('48', 'Dawson Creek', 'America/Dawson_Creek')
('6881', 'Riverton Regional', 'America/Denver')
('2876', 'Canefield', 'America/Dominica')
('26', 'Kugaaruk', 'America/Edmonton')
('1892', 'El Salvador Intl', 'America/El_Salvador')
('2520', 'Amapa', 'America/Fortaleza')
('7', 'Narsarsuaq', 'America/Godthab')
('1753', 'North Caicos', 'America/Grand_Turk')
('2882', 'Point Salines Intl', 'America/Grenada')
('2881', 'Le Raizet', 'America/Guadeloupe')
('1765', 'Bananera', 'America/Guatemala')
('2668', 'Chachoan', 'America/Guayaquil')
('2872', 'Linden', 'America/Guyana')
('23', 'Shearwater', 'America/Halifax')
('1898', 'Gustavo Rizo', 'America/Havana')
('1794', 'Ciudad Obregon Intl', 'America/Hermosillo')
('1778', 'Boscobel', 'America/Jamaica')
('2758', 'Bermejo', 'America/La_Paz')
('2776', 'Huancabamba', 'America/Lima')
('6883', 'Eastern Oregon Regional Airport', 'America/Los_Angeles')
('1860', 'Bluefields', 'America/Managua')
('2878', 'Le Lamentin', 'America/Martinique')
('1790', 'Nuevo Casas Grandes', 'America/Mazatlan')
('1783', 'General Juan N Alvarez Intl', 'America/Mexico_City')
('1440', 'Miquelon', 'America/Miquelon')
('2813', 'Angel S Adami', 'America/Montevideo')
('4146', 'John A. Osborne Airport', 'America/Montserrat')
('1927', 'Clarence A Bain', 'America/Nassau')
('6891', 'Putnam County Airport', 'America/New_York')
('1865', 'Bocas Del Toro Intl', 'America/Panama')
('2773', 'Johan A Pengel Intl', 'America/Paramaribo')
('3446', 'Ernest A Love Fld', 'America/Phoenix')
('1894', 'Cayes', 'America/Port-au-Prince')
('2901', 'Crown Point', 'America/Port_of_Spain')
('6814', 'Culebra Airport', 'America/Puerto_Rico')
('51', 'Estevan', 'America/Regina')
('2549', 'Cruzeiro do Sul', 'America/Rio_Branco')
('2641', 'Chacalluta', 'America/Santiago')
('1756', 'Arroyo Barril Intl', 'America/Santo_Domingo')
('2519', 'Campo Delio Jardim De Mattos', 'America/Sao_Paulo')
('5439', 'Neerlerit Inaat Airport', 'America/Scoresbysund')
('24', 'St Anthony', 'America/St_Johns')
('2891', 'Robert L Bradshaw', 'America/St_Kitts')
('2893', 'George F L Charles', 'America/St_Lucia')
('2883', 'Cyril E King', 'America/St_Thomas')
('2905', 'Canouan', 'America/St_Vincent')
('1771', 'Goloson Intl', 'America/Tegucigalpa')
('10', 'Thule Air Base', 'America/Thule')
('1803', 'Ensenada', 'America/Tijuana')
('21', 'Sault Ste Marie', 'America/Toronto')
('2903', 'Terrance B Lettsome Intl', 'America/Tortola')
('25', 'Tofino', 'America/Vancouver')
('22', 'Winnipeg St Andrews', 'America/Winnipeg')
('2033', 'South Pole Station', 'Antarctica/South_Pole')
('658', 'Longyear', 'Arctic/Longyearbyen')
('3974', 'Riyan', 'Asia/Aden')
('2170', 'Queen Alia Intl', 'Asia/Amman')
('6859', 'Mary Airport', 'Asia/Ashgabat')
('2234', 'Basrah Intl', 'Asia/Baghdad')
('2057', 'Bahrain Intl', 'Asia/Bahrain')
('2922', 'Heydar Aliyev', 'Asia/Baku')
('3157', 'Don Muang Intl', 'Asia/Bangkok')
('2177', 'Rafic Hariri Intl', 'Asia/Beirut')
('2912', 'Manas', 'Asia/Bishkek')
('3272', 'Brunei Intl', 'Asia/Brunei')
('2994', 'Ahmedabad', 'Asia/Calcutta')
('3364', 'Capital Intl', 'Asia/Chongqing')
('3024', 'Bandaranaike Intl Colombo', 'Asia/Colombo')
('2235', 'Aleppo Intl', 'Asia/Damascus')
('3068', 'Coxs Bazar', 'Asia/Dhaka')
('3309', 'Suai', 'Asia/Dili')
('2179', 'Abu Dhabi Intl', 'Asia/Dubai')
('2979', 'Dushanbe', 'Asia/Dushanbe')
('2174', 'Jerusalem', 'Asia/Gaza')
('3077', 'Hong Kong Intl', 'Asia/Hong_Kong')
('6373', 'Khovd Airport', 'Asia/Hovd')
('2936', 'Bratsk', 'Asia/Irkutsk')
('3273', 'Sultan Syarif Kasim Ii', 'Asia/Jakarta')
('3241', 'Frans Kaisiepo', 'Asia/Jayapura')
('1590', 'Ben Gurion', 'Asia/Jerusalem')
('2048', 'Herat', 'Asia/Kabul')
('2197', 'Bhagatanwala', 'Asia/Karachi')
('3122', 'Bhairahawa', 'Asia/Katmandu')
('2955', 'Abakan', 'Asia/Krasnoyarsk')
('3262', 'Bintulu', 'Asia/Kuala_Lumpur')
('2176', 'Kuwait Intl', 'Asia/Kuwait')
('3121', 'Macau Intl', 'Asia/Macau')
('2929', 'Provideniya Bay', 'Asia/Magadan')
('3886', 'Naha', 'Asia/Makassar')
('2397', 'Ninoy Aquino Intl', 'Asia/Manila')
('2192', 'Khasab', 'Asia/Muscat')
('1197', 'Larnaca', 'Asia/Nicosia')
('2956', 'Barnaul', 'Asia/Omsk')
('2916', 'Uralsk', 'Asia/Oral')
('3033', 'Kampong Chhnang', 'Asia/Phnom_Penh')
('3377', 'Pyongyang Intl', 'Asia/Pyongyang')
('2241', 'Doha Intl', 'Asia/Qatar')
('2908', 'Almaty', 'Asia/Qyzylorda')
('3207', 'Ann', 'Asia/Rangoon')
('2059', 'Abha', 'Asia/Riyadh')
('3196', 'Danang Intl', 'Asia/Saigon')
('2980', 'Bukhara', 'Asia/Samarkand')
('2361', 'Gwangju', 'Asia/Seoul')
('3312', 'Sembawang', 'Asia/Singapore')
('2259', 'Shang Yi', 'Asia/Taipei')
('3971', 'Batumi', 'Asia/Tbilisi')
('2097', 'Abadan', 'Asia/Tehran')
('3155', 'Paro', 'Asia/Thimphu')
('2279', 'Narita Intl', 'Asia/Tokyo')
('3380', 'Chinggis Khaan Intl', 'Asia/Ulaanbaatar')
('3115', 'Luang Phabang Intl', 'Asia/Vientiane')
('2927', 'Novy', 'Asia/Vladivostok')
('2923', 'Yakutsk', 'Asia/Yakutsk')
('2968', 'Balandino', 'Asia/Yekaterinburg')
('3962', 'Erebuni', 'Asia/Yerevan')
('1617', 'Santa Maria', 'Atlantic/Azores')
('4069', 'Bermuda Intl', 'Atlantic/Bermuda')
('1051', 'Fuerteventura', 'Atlantic/Canary')
('1102', 'Amilcar Cabral Intl', 'Atlantic/Cape_Verde')
('625', 'Vagar', 'Atlantic/Faeroe')
('11', 'Akureyri', 'Atlantic/Reykjavik')
('6436', 'Grytviken', 'Atlantic/South_Georgia')
('892', 'Ascension Aux Af', 'Atlantic/St_Helena')
('579', 'Mount Pleasant', 'Atlantic/Stanley')
('3341', 'Adelaide Intl', 'Australia/Adelaide')
('6870', 'Whitsunday Airstrip', 'Australia/Brisbane')
('3319', 'Alice Springs', 'Australia/Darwin')
('3332', 'Avalon', 'Australia/Hobart')
('3336', 'Hobart', 'Australia/Melbourne')
('6860', 'Bungle Bungle Airport', 'Australia/Perth')
('6809', 'Maitland Airport', 'Australia/Sydney')
('580', 'Schiphol', 'Europe/Amsterdam')
('6887', 'Alexion', 'Europe/Athens')
('1739', 'Beograd', 'Europe/Belgrade')
('317', 'Bautzen', 'Europe/Berlin')
('1745', 'M R Stefanik', 'Europe/Bratislava')
('299', 'Deurne', 'Europe/Brussels')
('1647', 'Arad', 'Europe/Bucharest')
('1489', 'Ferihegy', 'Europe/Budapest')
('1734', 'Balti Intl', 'Europe/Chisinau')
('607', 'Aarhus', 'Europe/Copenhagen')
('596', 'Cork', 'Europe/Dublin')
('1738', 'Gibraltar', 'Europe/Gibraltar')
('497', 'Alderney', 'Europe/Guernsey')
('417', 'Enontekio', 'Europe/Helsinki')
('520', 'Isle Of Man', 'Europe/Isle_of_Man')
('1681', 'Guvercinlik', 'Europe/Istanbul')
('499', 'Jersey', 'Europe/Jersey')
('2952', 'Khrabrovo', 'Europe/Kaliningrad')
('2939', 'Boryspil Intl', 'Europe/Kiev')
('1616', 'Alverca', 'Europe/Lisbon')
('1568', 'Cerklje', 'Europe/Ljubljana')
('465', 'Belfast Intl', 'Europe/London')
('629', 'Luxembourg', 'Europe/Luxembourg')
('1058', 'Melilla', 'Europe/Madrid')
('1606', 'Luqa', 'Europe/Malta')
('442', 'Mariehamn', 'Europe/Mariehamn')
('2950', 'Gomel', 'Europe/Minsk')
('4264', 'Monaco', 'Europe/Monaco')
('2948', 'Pulkovo', 'Europe/Moscow')
('630', 'Vigra', 'Europe/Oslo')
('1254', 'Calais Dunkerque', 'Europe/Paris')
('1741', 'Podgorica', 'Europe/Podgorica')
('1573', 'Ceske Budejovice', 'Europe/Prague')
('3952', 'Liepaja Intl', 'Europe/Riga')
('1499', 'Amendola', 'Europe/Rome')
('1645', 'Mostar', 'Europe/Sarajevo')
('1736', 'Ohrid', 'Europe/Skopje')
('1191', 'Burgas', 'Europe/Sofia')
('682', 'Malmen', 'Europe/Stockholm')
('411', 'Amari', 'Europe/Tallinn')
('1190', 'Tirana Rinas', 'Europe/Tirane')
('8462', 'Balzers Heliport', 'Europe/Vaduz')
('1607', 'Wiener Neustadt East', 'Europe/Vienna')
('3954', 'Siauliai Intl', 'Europe/Vilnius')
('667', 'Babice', 'Europe/Warsaw')
('1200', 'Dubrovnik', 'Europe/Zagreb')
('1664', 'Les Eplatures', 'Europe/Zurich')
('918', 'Ivato', 'Indian/Antananarivo')
('895', 'Diego Garcia Nsf', 'Indian/Chagos')
('3353', 'Christmas Island', 'Indian/Christmas')
('6315', 'Cocos Keeling Island Airport', 'Indian/Cocos')
('912', 'Prince Said Ibrahim', 'Indian/Comoro')
('991', 'Alphonse', 'Indian/Mahe')
('6811', 'South Ari Atoll', 'Indian/Maldives')
('893', 'Sir Seewoosagur Ramgoolam Intl', 'Indian/Mauritius')
('915', 'Dzaoudzi Pamandzi', 'Indian/Mayotte')
('916', 'St Denis Gillot', 'Indian/Reunion')
('1969', 'Faleolo Intl', 'Pacific/Apia')
('2006', 'Auckland Intl', 'Pacific/Auckland')
('2010', 'Chatham Islands', 'Pacific/Chatham')
('2657', 'Mataveri Intl', 'Pacific/Easter')
('1997', 'Port Vila Bauerfield', 'Pacific/Efate')
('2242', 'Canton', 'Pacific/Enderbury')
('1960', 'Nadi Intl', 'Pacific/Fiji')
('4077', 'Funafuti International', 'Pacific/Funafuti')
('2672', 'Seymour', 'Pacific/Galapagos')
('1979', 'Totegegie', 'Pacific/Gambier')
('4074', 'Honiara International', 'Pacific/Guadalcanal')
('2245', 'Andersen Afb', 'Pacific/Guam')
('3415', 'Hilo Intl', 'Pacific/Honolulu')
('4382', 'Johnston Atoll', 'Pacific/Johnston')
('2257', 'Kosrae', 'Pacific/Kosrae')
('2249', 'Marshall Islands Intl', 'Pacific/Majuro')
('1987', 'Nuku Hiva', 'Pacific/Marquesas')
('2253', 'Midway Atoll', 'Pacific/Midway')
('4076', 'Nauru Intl', 'Pacific/Nauru')
('5884', 'Niue International Airport', 'Pacific/Niue')
('3359', 'Norfolk Island Intl', 'Pacific/Norfolk')
('1998', 'Kone', 'Pacific/Noumea')
('1970', 'Pago Pago Intl', 'Pacific/Pago_Pago')
('2256', 'Babelthuap', 'Pacific/Palau')
('2255', 'Pohnpei Intl', 'Pacific/Ponape')
('1', 'Goroka', 'Pacific/Port_Moresby')
('1958', 'Aitutaki', 'Pacific/Rarotonga')
('2243', 'Rota Intl', 'Pacific/Saipan')
('1972', 'Tubuai', 'Pacific/Tahiti')
('1965', 'Bonriki Intl', 'Pacific/Tarawa')
('1963', 'Fua Amotu Intl', 'Pacific/Tongatapu')
('2254', 'Chuuk Intl', 'Pacific/Truk')
('7674', 'Wake Island Afld', 'Pacific/Wake')
('1968', 'Wallis', 'Pacific/Wallis')
('1907', 'Guantanamo Bay Ns', '\\N')

In [40]:
# It's always a good idea to close our connections when we're done
cursor.close()
con.close()

## Goal 5: Transfering from sqlite to pandas

In [41]:
import pandas as pd

In [42]:
pd_con = sqlite3.connect("data/flights.db")
df = pd.read_sql_query("select * from airports limit 5;", pd_con)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

In [44]:
# Which countries have the highest amount of active airports?
conn = sqlite3.connect("data/flights.db")
sql = '''
SELECT id, name, country
FROM airlines
'''
pd.read_sql_query(sql, conn)

,id,name,country
0,1,Private flight,None
1,2,135 Airways,United States
2,3,1Time Airline,South Africa
3,4,2 Sqn No 1 Elementary Flying Training School,United Kingdom
4,5,213 Flight Unit,Russia
5,6,223 Flight Unit State Airline,Russia
6,7,224th Flight Unit,Russia
7,8,247 Jet Ltd,United Kingdom
8,9,3D Aviation,United States
9,10,40-Mile Air,United States
10,11,4D Air,Thailand
11,12,611897 Alberta Limited,Canada
12,13,Ansett Australia,Australia
13,14,Abacus International,Singapore
14,15,Abelag Aviation,Belgium
15,16,Army Air Corps,United Kingdom
16,17,Aero Aviation Centre Ltd.,Canada
17,18,Aero Servicios Ejecutivos Internacionales,Mexico
18,19,Aero Biniza,Mexico
19,20,Aero Albatros,Spain
20,21,Aigle Azur,France
21,22,Aloha Airlines,United States
22,23,Alaska Island Air,United States
23,24,American Airlines,United States
24,25,Aviation Management Corporation,United States
25,26,Atlantis Airlines (USA),United States
26,27,Aerovista Airlines,United Arab Emirates
27,28,Asiana Airlines,Republic of Korea
28,29,Askari Aviation,Pakistan
29,30,Australia Asia Airlines,Australia
...,...,...,...
6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,Barbados
6019,19674,Rainbow Air (RAI),United States
6020,19675,Rainbow Air Canada,Canada
6021,19676,Rainbow Air Polynesia,United States
6022,19677,Rainbow Air Euro,United Kingdom
6023,19678,Rainbow Air US,United States
6024,19745,Transilvania,Romania
6025,19751,Dobrolet,Russia
6026,19774,Spike Airlines,United States
6027,19776,Grand Cru Airlines,Lithuania
6028,19785,Go2Sky,Slovakia
6029,19803,All Argentina,Argentina
6030,19804,All America,United States
6031,19805,All Asia,China
6032,19806,All Africa,South Africa
6033,19807,Regionalia México,Mexico
6034,19808,All Europe,United Kingdom
6035,19809,All Spain,Spain
6036,19810,Regional Air Iceland,Iceland
6037,19811,British Air Ferries,United Kingdom
6038,19812,Voestar,Brazil
6039,19813,All Colombia,Colombia
6040,19814,Regionalia Uruguay,Uruguay
6041,19815,Regionalia Venezuela,Venezuela
6042,19827,Regionalia Chile,Chile
6043,19828,Vuela Cuba,Cuba
6044,19830,All Australia,Australia
6045,19831,Fly Europa,Spain
6046,19834,FlyPortugal,Portugal
6047,19845,FTI Fluggesellschaft,Germany

In [46]:
pd_con.close()
conn.close()

## Bonus: SQL-like querying in Pandas

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [ ]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [ ]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()

In [ ]:
#vs
shelter_data[shelter_data['Name']=="Max"].head()

In [ ]:
shelter_data.query('`Animal Type` == "Dog"').head()